@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0062ff; /* Tobiira Blue 700 */
  --secondary: #48b9ff; /* Tobiira Blue 400 */
  --accent: #084bc5; /* Tobiira Blue 800 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}